@font-face {
  font-family: 'paybooc-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'paybooc-Medium';
  background: #262626;
}

#app {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  width: 800px;
  height: 600px;
  border: outset;
}

#info {
  height: 50px;
  color: white;
}

#refresh {
  display: grid;
  place-items: center;
  grid-area: 1 / 1 / -1 / -1;
  z-index: 1;
  cursor: pointer;
}

#shell {
  display: none;
}

#app:hover>#refresh>#shell {
  display: grid;
  place-items: center;
  height: min-content;
  font-size: 100px;
  font-weight: bold;
  filter: drop-shadow(0 0 3px white);
}

.selected {
  background: rgba(200, 0, 255, .7);
  /* box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
}
